version: '2'

services:

  myapp:
    build: .
    ports:
      - 8080:8080
  db:
    image: mysql
    restart: always
    environment:
      - MYSQL_DATABASE: "users"
      - MYSQL_USER: root
      - MYSQL_ROOT_PASSWORD: hao825_MDL7519